# Sublime Text files.
*.sublime-project
*.sublime-workspace

# Removes some useless build files.
material/dist/*
#!material/dist

# Removes the user defined template.
material/extra.html

# Removes node modules.
node_modules

# Removes the HTML version of README.
README.html