@use "values";
@use "shadow";

.actionbar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 50;

    @extend .shadow-top-1;

    .row{
        padding: values.$space-m;
        padding-bottom: values.$space-m - values.$space-s;
    }
}

.actionbar-label{
    float: left;
    padding: 7px;
}

.actionbar-selectall {
    float: left;
    padding: 7px 7px 7px 0;
}

.actionbar-controls{
    float: right;

    button{
        margin-left: values.$space-s;
        margin-bottom: values.$space-s;
    }
}
