@use "values";

/**
 * ANIMATIONS
 * To perform animations, add the desired class to the desired element.
 * To perform the animation again, you'll need to first remove the class through Javascript.
 * Otherwise, the animations object in Javascript makes it more easy.
 */

/* Fade in */
.animate-fade-in{
    animation: fade-in values.$animation-speed ease;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Fade out */
.animate-fade-out{
    animation: fade-out values.$animation-speed ease forwards !important;
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* From top */
.animate-slide-from-top{
    animation: slide-from-top values.$animation-speed ease;
}
@keyframes slide-from-top {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* From right */
.animate-slide-from-right{
    animation: slide-from-right values.$animation-speed ease forwards;
}
@keyframes slide-from-right {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-hide-slide-to-bottom{
    animation: hide-slide-to-bottom values.$animation-speed ease forwards;
}
@keyframes hide-slide-to-bottom {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(300px);
    }
}

.animate-show-slide-from-bottom{
    animation: show-slide-from-bottom values.$animation-speed ease;
}
@keyframes show-slide-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-compress-height-50 {
    animation: compress-height-50 values.$animation-speed-long ease forwards;
    overflow: hidden;
}
@keyframes compress-height-50 {
    0% {
        opacity: 1;
        max-height: 50px;
    }
    100%{
        opacity: 0;
        max-height: 0;
    }
}

.animate-turn-forever {
    animation: turn values.$animation-speed-long linear infinite;
}
@keyframes turn {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
