@use "sass:color";

@use "values";
@use "helpers";
@use "shadow";

$button-padding: 8px 16px;
$button-height: 36px;

@mixin button-color($color){
    color: #fff;
    background-color: $color;

    &:hover,
    &:focus{
        background-color: color.adjust($color, $lightness: -5%);
        color: #fff;
    }
    &:active{
        background-color: color.adjust($color, $lightness: -10%);
        color: #fff;
    }
    &:active:focus{
        color: #fff;
    }
}

/* Button reset. */
.button-base{
    @extend .nowrap;

    display: inline-block;
    position: relative;
    overflow: hidden;
    height: $button-height;
    padding: $button-padding;

    border: none;
    border-radius: values.$radius-s;
    outline: 0;

    background-color: values.$color-transparent;

    @include values.font-button();
    color: values.$color-text;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    cursor: pointer;

    &:hover,
    &:focus,
    &:active,
    &:active:focus{
        outline: 0;
        border: none;
        text-decoration: none;
        color: values.$color-text;
    }

    &[disabled]{
        pointer-events: none;
    }

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    &.pull-right{
        margin-left: 10px;
    }
}

.button{
    @extend .button-base;

    &:hover,
    &:focus{
        background-color: values.$color-button-hover;
        box-shadow: none;

        color: values.$color-text;
    }

    &:active{
        box-shadow: none;
    }

    &[disabled]{
        &,
        &:hover,
        &:focus,
        &:active{
            color: values.$color-button-disabled;
            background-color: values.$color-transparent;
        }
    }
}

.button-raised{
    @extend .button-base;
    @extend .shadow-button;

    background-color: values.$color-button-raised;

    &:hover,
    &:focus{
        @extend .shadow-button-hover;

        color: values.$color-text;
    }

    &:active{
        box-shadow: none;
    }

    &[disabled]{
        &,
        &:hover,
        &:focus,
        &:active{
            @extend .shadow-button;

            color: values.$color-button-raised-disabled-text;
            background-color: values.$color-button-raised-disabled;
        }
    }
}

.button-inverse{
    @extend .button-base;

    color: #fff;
    background-color: values.$color-transparent;

    &:hover,
    &:focus{
        background-color: rgba(204, 204, 204, 0.15);
        color: #fff;
    }

    &:active,
    &:active:focus,
    &.active{
        background-color: rgba(204, 204, 204, 0.25);
        color: #fff;
    }

    &[disabled]{
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0.30);
    }
}

/* Color variations. */
.button-primary{
    @include button-color(values.$color-primary);
}
.button-alert{
    @include button-color(values.$color-alert);
}
.button-firefox{
    @include button-color(values.$color-firefox);
}

/* Floating action button */
.button-floating{
    @extend .shadow-button-floating;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 56px;
    height: 56px;
    bottom: 5%;
    right: 5%;

    text-align: center;
    line-height: 54px;
    font-size: 25px;
    color: #fff;

    background-color: values.$color-secondary;

    border-radius: 50%;
    transition: box-shadow 150ms cubic-bezier(0,0,.2,1);

    z-index: 100;

    &:hover,
    &:focus{
        @extend .shadow-button-floating-hover;
        color: #fff;
        text-decoration: none;
    }

    &:active{
        box-shadow: none;
    }
}

.large-icon-button{

    display: block;
    float: left;
    padding: values.$space-m;
    color: values.$color-text;
    width: 140px;
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    border-radius: values.$radius-s;

    &:hover,
    &:focus{
        text-decoration: none;
        background-color: values.$color-gray-light;
        color: values.$color-text;
    }

    &:active{
        background-color: color.adjust(values.$color-gray-light, $lightness: -5%);
    }

    i{
        display: block;
        margin: auto;
        font-size: 70px;

        &.mdi-firefox{
            color: #e55b0a;
        }
        &.mdi-apple-ios{
            color: #a6a8ab;
        }
        &.mdi-android{
            color: #a4c739;
        }
        &.mdi-google-chrome{
            color: #dd4f43;
        }
    }
}
