*,
*:after,
*:before {
    box-sizing: border-box;
}

html{
    background: $color-gray-150;
    font-size: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
    font-family: $font-stack;
    font-size: $font-size;
    background: $color-gray-150;
    color: $color-text;
}
h1{
    @include font-headline();
    margin: $space-s 0 $space-l 0;
}
h2{
    @include font-subheading();
    margin-bottom: $space-m;
}
p{
    margin-bottom: $space-m;
    @include font-body();
}
a{
    color: $color-primary;

    &:hover,
    &:focus{
        color: $color-primary-600;
    }

    &:active{
        color: $color-primary-700;
    }
}
em{
    font-style: italic;
}
strong{
    font-weight: bold;
}
small {
    font-size: 80%;
}
img {
    border: 0;
    vertical-align: middle;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt {
    font-weight: 700;
}

pre {
    margin: 1em 0;
    padding: 20px;
    max-width: 100%;
    border: 1px solid $color-gray-200;
    color: $color-gray-800;
    line-height: 1.2em;
    background: $color-gray-100;
    border-radius: 5px;
    box-shadow: none;
}

code {
    padding: 0;
    color: $color-gray-800;
    font-size: .8em;
    line-height: 1em;
    font-weight: 400!important;
    background: $color-gray-100;
    border-radius: 3px;
}

:not(pre) code {
    padding: 0 5px 2px;
    box-shadow: none;
}

del {
    text-decoration: line-through;
}

@-ms-viewport {
    width: device-width;
}
