@use "values";
@use "animations";
@use "shadow";

.modal{
    // Overrides Bootstrap
    position: relative;
    display: block;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    z-index: 1;
    // End override Bootstrap
    margin-top: 10%;
    margin-top: 10vh;
    background: #fff;
    @extend .shadow-5;
}
.modal-title{
    padding: 20px 20px 10px 20px;
    line-height: inherit;
    @include values.font-title();
}
.modal-body{
    padding: 10px 20px 10px 20px;
    max-height: 55vh;
    overflow: auto;
    color: values.$color-gray-700;
}
.modal-footer{
    padding: 10px 20px 20px 20px;
    border: none;
    text-align: left;
}
