@use "sass:math";

@use "values";
@use "shadow";
@use "animations";

.notifications {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: values.$space-l;
  right: values.$space-l;
  max-width: 400px;
  z-index: 1000;

  @media (max-width: 450px) {
    left: values.$space-s;
    right: values.$space-s;
    bottom: values.$space-s;
  }

  .notification:not(:last-child) {
    margin-bottom: values.$space-m;
  }
}

.notification {
  @extend .shadow-3;
  @extend .animate-slide-from-right;

  position: relative;
  padding: values.$space-l;
  padding-right: values.$space-xl;

  border-radius: values.$radius;
  background-color: values.$color-gray-100;
  opacity: 1;

  button.notification-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: math.div(values.$space-t, 2) values.$space-t;
    color: values.$color-gray-600;

    &:hover,
    &:focus {
       background-color: rgba(10, 10, 10, .2);
    }
  }

  &.is-success {
    color: values.$color-success-900;
    background-color: values.$color-success-50;
  }

  &.is-warning {
    color: values.$color-warning-900;
    background-color: values.$color-warning-50;
  }

  &.is-danger {
    color: values.$color-danger-900;
    background-color: values.$color-danger-50;
  }
}
