.paging{
    a{
        display: inline-block;
        padding: 0 $space-s;

        line-height: 3rem;
        color: $color-subtitle;
        font-size: 2rem;

        &:hover{
            color: $color-text;
        }
    }

    .paging-current{
        display: inline-block;
        
        line-height: 3rem;
        color: $color-subtitle;
        font-size: 1.2rem;
    }
}