.paging{
    a{
        display: inline-block;
        height: 45px;
        width: 45px;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;

        color: #8694a5;
        font-size: 2rem;

        &:hover,
        &:focus {
            background-color: #e0e6eb;
        }

        &:active {
            background-color: #cdd5dd;
        }
    }

    .paging-current{
        display: inline-block;
        
        line-height: 3rem;
        color: #8694a5;
        font-size: 1rem;
    }
}