@use "values";

.paging{
  .paging-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: .9rem;
    color: values.$color-gray-600;

    .paging-current {
      margin-right: values.$space-m;
    }

    a{
      display: block;
      height: 35px;
      width: 35px;
      text-align: center;
      border-radius: 50%;
      line-height: 35px;

      color: values.$color-gray-600;
      font-size: 1.6rem;

      &:hover,
      &:focus {
        background-color: values.$color-gray-300;
      }

      &:active {
        background-color: values.$color-gray-400;
      }
    }
  }
}
