.paging{
    a{
        display: inline-block;
        height: 45px;
        width: 45px;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;

        color: $color-gray-600;
        font-size: 2rem;

        &:hover,
        &:focus {
            background-color: $color-gray-300;
        }

        &:active {
            background-color: $color-gray-400;
        }
    }

    .paging-current{
        display: inline-block;
        
        line-height: 3rem;
        color: $color-gray-700;
        font-size: 1rem;
    }
}