.popup{
    position: absolute;
    top: 48px;
    right: 0px;
    min-width: 220px;
    color: #333;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    background: #fff;
    line-height: 1.5;
    cursor: default;
    z-index: 50;

    h2 {
        padding: 0 $space-s;
        margin-top: $space-s;
        margin-bottom: $space-s;
        text-transform: uppercase;
        font-size: 12px;
        color: $color-subtitle;
    }

    @media (max-width: 600px){
        position: fixed;
        overflow-x: auto;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
    }
}
.popup-title{
    font-weight: bold;
    background-color: #eee;
    padding: 10px;
}
.popup-close {
    width: 20px;
    height: 20px;
    line-height: 20px;
    float: right;
    border-radius: 50%;

    &:hover {
        background-color: #fff;
    }
}
.popup-body{
    padding: 10px 0 10px 0;

    .list-item {
        padding: $space-t $space-s;
        border: none;

        &:last-child {
            border-bottom: none;
        }
    }

    .list-item-label {
        font-size: .9rem;
    }
}
.popup ul{
    list-style: none;
    margin-bottom: 0;
}
.popup ul li{
    cursor: pointer;
}
.popup ul li a{
    display: block;
    padding: 5px 10px;
}
.popup ul li a:hover{
    background-color: #eee;
}
.popup input[type=text]{
    width: 100%;
}
.popup .popup-content-area{
    padding: 10px;
}