/* Page specific */
.page-login{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-add{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-edit{
    margin-top: 50px;
    margin-bottom: 50px;
}
.from-bookmarklet .page-edit{
    margin-top: 10px;
    margin-bottom: 10px;
}
.page-tools{
    margin-bottom: 50px;
}

/* Edit link */
.button-header{
    position: absolute;
    width: 34px;
    height: 34px;
    top: 7px;
    right: 7px;
    background: center center no-repeat;

    &:hover,
    &:focus{
        background-color: $color-button-hover;
    }

    &:active{
        background-color: $color-button-active;
    }
}
.button-expand{
    background-image: url(img/arrow-expand.png);

    .is-expanded &{
        background-image: url(img/arrow-compress.png);
    }
}
.editlinkform {
  transition: margin $animation-speed ease-in-out;

  .page-edit-link-batch & {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.is-batch-done {
  .card {
    max-height: 58px !important;
    overflow: hidden;
  }

  .card-overlay {
    background-color: rgba(255, 255, 255, 1);
  }
}

/* Picture wall */
.picwall-pictureframe{
    float: left;
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 90px;
    text-align: center;
}
.picwall-link{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-gray-700;
    background-color: rgba($color-gray-700, .7);
    color: #fff;
    @include font-caption();
}
.picwall-pictureframe:hover .picwall-link{
    display: block;
    text-decoration: none;
}
.picwall-link:hover{
    color: #fff;
}

/* Plugins */
.plugin-actions{
    @include font-title();
    padding: 10px;
    line-height: 20px;
}

/* QRCode */
#overlay-content-qrcode{
    z-index: 600;
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px){
    .thumb{
        float: left;
    }

    .thumb:not(.hidden) + .link-description{
        padding-left: 150px;
    }
}

/* Plugin administration */
.plugin-param {
    label {
        margin-bottom: 0;
        line-height: 1.2;
    }

    .sublabel {
        margin-top: 0;
        text-align: left;
        line-height: 1.5;
    }

    &:focus-within {
        .plugin-param-key label {
            color: $color-primary;
        }
    }
}
.plugin-param-key{
    line-height: 33px;
}

/* Thumbnail page */
.thumbnail-placeholder {
    margin: auto;
    margin-bottom: $space-s;
    background-color: $color-gray-light;
}
.thumbnail-link-title {
    margin-bottom: $space-m;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.progress-counter {
    text-align: right;
}

/* Search overlay */
.search-overlay-actions {
    position: absolute;
    right: 20px;
    top: 20%;

    button {
        padding: 8px;
        border-radius: 50px;
        font-size: 14px;
        text-transform: lowercase;
        box-shadow: none;

        i {
            vertical-align: middle;
        }

        @media (max-width: 767px){
            width: 36px;
            height: 36px;
            text-align: center;
            border-radius: 50%;
        }
    }
}
#button-filter i {
    margin-right: 3px;
}
