/* Page specific */
.page-login{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-add{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-edit{
    margin-top: 50px;
    margin-bottom: 50px;
}
.from-bookmarklet .page-edit{
    margin-top: 10px;
    margin-bottom: 10px;
}
.page-tools{
    margin-bottom: 50px;
}

/* Edit link */
.button-header{
    position: absolute;
    width: 34px;
    height: 34px;
    top: 7px;
    right: 7px;
    background: center center no-repeat;

    &:hover,
    &:focus{
        background-color: $color-button-hover;
    }

    &:active{
        background-color: $color-button-active;
    }
}
.button-expand{
    background-image: url(img/arrow-expand.png);

    .is-expanded &{
        background-image: url(img/arrow-compress.png);
    }
}

/* Picture wall */
.picwall-pictureframe{
    float: left;
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 90px;
    text-align: center;
}
.picwall-link{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-gray-700;
    background-color: rgba($color-gray-700, .7);
    color: #fff;
    @include font-caption();
}
.picwall-pictureframe:hover .picwall-link{
    display: block;
    text-decoration: none;
}
.picwall-link:hover{
    color: #fff;
}

/* Plugins */
.plugin-actions{
    @include font-title();
    padding: 10px;
    line-height: 20px;
}


/* Errors */
.errors{
    color: #fff;
    background-color: #F44336;
    padding: $space-m 0;
    margin-top: -$space-m;
    margin-bottom: $space-m;

    ul{
        margin-bottom: 0;
    }
}
.warnings {
    background-color: #FF9800;
    padding: $space-m 0;
    margin-top: -$space-m;
    margin-bottom: $space-m;

    ul{
        margin-bottom: 0;
    }
}

/* QRCode */
#overlay-content-qrcode{
    z-index: 600;
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px){
    .thumb{
        float: left;
    }

    .thumb + .link-description{
        padding-left: 150px;
    }
}

/* Plugin administration */
.plugin-param-key{
    line-height: 33px;
}

/* Thumbnail page */
.thumbnail-placeholder {
    margin: auto;
    margin-bottom: $space-s;
    background-color: $color-gray-light;
}
.thumbnail-link-title {
    margin-bottom: $space-m;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.progress-counter {
    text-align: right;
}