@use "values";

table {
    width: 100%;
}

th,
td {
    padding: values.$space-t values.$space-s;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

th {
    font-weight: bold;
}

tr {
    border-bottom: 1px solid values.$color-gray-300;
}
