.tag {
  padding: $space-t;
  font-size: .8rem;
  background-color: $color-gray-100;
  border-radius: 4px;

  &.is-light {
    &.is-success {
      background-color: #effaf3;
      color: #257942;
    }

    &.is-danger {
      background-color: #feecf0;
      color: #cc0f35;
    }
  }
}
