.bookmarklet{
    padding: $space-t $space-s;
    background-color: #fff;
    border: 1px solid #aaa;
    color: $color-text;
    text-decoration: none;

    &:hover,
    &:focus{
        box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
        text-decoration: none;
        color: inherit;
    }

    &:active{
        box-shadow: none;
    }

    & img{
        vertical-align: top;
        height: 20px;
    }
}