@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../static/fonts/roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url('../static/fonts/roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../static/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../static/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../static/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../static/fonts/roboto/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Material';
    src: url('../static/fonts/material-icons/materialdesignicons-webfont.eot'); /* IE9 Compat Modes */
    src: url('../static/fonts/material-icons/materialdesignicons-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../static/fonts/material-icons/materialdesignicons-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../static/fonts/material-icons/materialdesignicons-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../static/fonts/material-icons/materialdesignicons-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../static/fonts/material-icons/materialdesignicons-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Old Newspaper Types';
    src: url('../static/fonts/oldnewspapertypes/oldnewspapertypes-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../static/fonts/oldnewspapertypes/oldnewspapertypes-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../static/fonts/oldnewspapertypes/oldnewspapertypes-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}