.mdi {
    display: inline-block;
    font: normal normal normal 24px/1 "Material";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.mdi-arrow-left:before {
    content: "\F04D";
}
.mdi-arrow-right:before {
    content: "\F054";
}
.mdi-menu:before {
    content: "\F35C";
}
.mdi-pencil:before{
    content: "\F3EB";
}
.mdi-delete:before {
  content: "\F1C0";
}
.mdi-magnify-plus-outline:before {
  content: "\f6ec";
}
