.modal{
    margin-top: 10%;
    margin-top: 10vh;
    background: #fff;
    @extend .shadow-5;
}
.modal-title{
    padding: 20px 20px 10px 20px;
    @include font-title();
}
.modal-body{
    padding: 10px 20px 10px 20px;
    max-height: 55vh;
    overflow: auto;
    color: #666;
}
.modal-footer{
    padding: 10px 20px 10px 20px;
}