/* Page specific */
.page-login{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-add{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-edit{
    margin-top: 50px;
    margin-bottom: 50px;
}
.from-bookmarklet .page-edit{
    margin-top: 10px;
    margin-bottom: 10px;
}
.page-tools{
    margin-bottom: 50px;
}

/* Edit link */
.button-header{
    position: absolute;
    width: 34px;
    height: 34px;
    top: 7px;
    right: 7px;
    background: center center no-repeat;

    &:hover,
    &:focus{
        background-color: $color-button-hover;
    }

    &:active{
        background-color: $color-button-active;
    }
}
.button-expand{
    background-image: url(../images/arrow-expand.png);

    .is-expanded &{
        background-image: url(../images/arrow-compress.png);
    }
}

/* Link list */
.link-outer{
    @extend .card;
    position: relative;
    overflow: hidden;

    .links-list.is-selectable &.is-selected{
        outline: 4px solid orange;
    }
}
// Used for batch mode (delete).
.link-overlay{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 10;

    .links-list.is-selectable &:hover{
        background-color: rgba(200, 200, 200, 0.5);
    }

    .links-list.is-selectable &{
        display: block;
        background-color: rgba(255, 255, 255, 0);
    }

    .links-list.is-selectable .is-selected &{
        display: block;
        background-color: rgba(255, 0, 0, .5);
    }
}
.link-inner{
    border-radius: 2px 0 0 2px;
}
.link-header{
    @extend .card-header;
    text-transform: none;
}
.link-content{
    overflow: hidden;
}
.link-footer{
    padding: 15px;
    border-top: 1px solid #eee;
    background-color: #f2f2f2;
}
a.link-title{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    
    &:hover{
        color: #999;
    }
}
.private{
    background: url(../images/private-band.png) top left no-repeat #fff;
}
.private a.link-title{
    margin-left: $space-l;
    color: #B71C1C;
}
.link-date{
    @include font-caption();
}
.link-date{
    float: right;
}
.link-date a,
.link-date .link-archive{
    color: #bbb;
}
.link-description{
    padding: 15px;
}
.link-description p:first-child{
    margin-top: 0;
}
.link-description p:last-child{
    margin-bottom: 0;
}
.thumb img{
    margin: 15px;
}
.link-tag-list{
    overflow: hidden;
    overflow-x: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.link-tag{
    display: inline-block;
}
.link-tag a{
    display: block;
    color: #888;
    text-decoration: none;
    padding: 3px 10px;
    background-color: #ddd;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: .8rem;
}
.link-tag a:hover{
    background-color: #ccc;
}

.link-tag-filter{
    color: #888;
    text-decoration: none;
    background-color: #ddd;
    border-radius: 20px;
    display: inline-block;
    border: 1px solid #ccc;
}
.link-tag-filter a{
    color: #888;
    text-decoration: none;
    padding: 3px 0 3px 10px;
    display: inline-block;
}
.link-tag-link{
    padding: 3px 10px;
}
.link-tag-filter:hover{
    background-color: #ccc;
}
.link-tag-filter .remove{
    font-style: normal;
    background-color: #fff;
    border-radius: 50%;
    padding: 0 5px;
    padding-bottom: 1px;
}
.link-url-container{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 24px;
    text-align: right;
}
a.link-url{
    color: #999;
    text-decoration: none;
    @include font-caption();
}
a.link-url:hover{
    color: #333;
}
.link-actions{
    height: 24px;
    text-align: right;

    a,
    span {
        color: #757575;
        font-size: 18px;
    }

    a {
        &.is-pinned {
            color: $color-primary;
        }

        &:hover,
        &:focus {
            color: #000;
        }
    }

    .is-selectable &{
        // Actions are hidden when the list is in batch select mode.
        display: none;
    }
}
.link-actions > *{
    display: block;
    float: right;
    width: 24px;
    right: 24px;
    margin-left: 5px;
}
.link-actions form > *{
    display: block;
}
/* Plugins in links */
.link-plugin{
    &:not(:last-child){
        margin-right: $space-t;
    }

    &:nth-child(2){
        &:before{
            content: "-";
            margin: 0 $space-t;
        }
    }
}

.link-counter{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #999;
}

.favorite-tag{
    display: block;
    float: left;
    padding: $space-s;
    margin-right: $space-s;
    background-color: rgba(0, 0, 0, .05);
    color: $color-subtitle;

    &:hover,
    &:focus{
        background-color: rgba(0, 0, 0, .1);
        color: inherit;
        text-decoration: none;
    }

    &:active{
        background-color: rgba(0, 0, 0, .2);
    }
}

/* Picture wall */
.picwall-pictureframe{
    float: left;
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 90px;
    text-align: center;
}
.picwall-link{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #666;
    background-color: rgba(100, 100, 100, .7);
    color: #fff;
    @include font-caption();
}
.picwall-pictureframe:hover .picwall-link{
    display: block;
    text-decoration: none;
}
.picwall-link:hover{
    color: #fff;
}

/* Plugins */
.plugin-actions{
    @include font-title();
    padding: 10px;
    line-height: 20px;
}


/* Errors */
.errors{
    color: #fff;
    background-color: #F44336;
    padding: $space-m 0;
    margin-top: -$space-m;
    margin-bottom: $space-m;

    ul{
        margin-bottom: 0;
    }
}
.warnings {
    background-color: #FF9800;
    padding: $space-m 0;
    margin-top: -$space-m;
    margin-bottom: $space-m;

    ul{
        margin-bottom: 0;
    }
}

/* QRCode */
#overlay-content-qrcode{
    z-index: 600;
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px){
    .thumb{
        float: left;
    }

    .thumb + .link-description{
        padding-left: 150px;
    }
}

/* Plugin administration */
.plugin-param-key{
    line-height: 33px;
}

/* Thumbnail page */
.thumbnail-placeholder {
    margin: auto;
    margin-bottom: $space-s;
    background-color: $color-gray-light;
}
.thumbnail-link-title {
    margin-bottom: $space-m;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.progress-counter {
    text-align: right;
}