/* Awesomplete override */
.awesomplete ul{
    z-index: 400;
    border: 1px solid #aaa;
    border-radius: 2px;
}
div.awesomplete > ul{
    border: none;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 0;
}
div.awesomplete > ul:before{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
div.awesomplete > ul > li{
    background-color: #fff;
    padding: 5px 10px;
}
div.awesomplete > ul > li:hover{
    background-color: #eee;
}
div.awesomplete li:hover mark{
    background-color: #d7e800;
}
div.awesomplete > ul > li[aria-selected=true]{
    background-color: #2196F3;
    color: #fff;
}
div.awesomplete > ul > li[aria-selected=true]:hover{
    background-color: #1E88E5;
}
div.awesomplete li[aria-selected=true]:hover mark{
    background: #3c6b00;
    color: inherit;
}

/* Nothing found */
.nothing-found{
    text-align: center;
    font-size: 160%;
    color: #999;
    margin-bottom: 100px;
}

/* Errors */
.errors{
    color: #f44336;
}

/* Image zoom */
.overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500
}
#image-popup{
    display: none;
    z-index: 600;
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
}


.add-link{
    position: fixed;
    display: block;
    bottom: 5%;
    right: 5%;
    background-color: #F44336;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
    z-index: 100;
}
.add-link:hover{
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
.add-link:active{
    box-shadow: none;
}
.add-link .add-link-icon{
    width: 24px;
    height: 24px;
    margin-top: 16px;
    margin-left: 16px;
    background: url(../images/toolbar/add.png) no-repeat center center;
    background-size: 24px;
}

.header-main{
    width: 100%;
    min-height: 56px;
    background-color: #2196F3;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    margin-bottom: 15px;

    color: #fff;
    max-height: 56px;
}
.header-main.unfold{
    overflow: visible;
    max-height: none;
}
@media (max-width: 1199px){
    .header-main{
        overflow: hidden;
    }
}
.dark-toolbar .header-main{
    background-color: #000;
}
.header-main a{
    color: #fff;
    text-decoration: none;
}
.header-main a.header-brand{
    font-weight: 200;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    line-height: 56px;
    height: 56px;
}
.header-main a.header-brand:hover{
    color: #eee;
}
.header-main .header-nav{
    height: 56px;
}
.header-main .header-buttons{
    float: right;
    height: 56px;
}
.header-main .header-buttons button{
    display: block;
}
.header-main .header-buttons > *{
    display: block;
    float: right;
}
.toolbar-button-container{
    position: relative;
}
.header-main .header-middle a:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
.header-main .header-middle input[type=search]{
    height: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 12px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 2px;
    color: #fff;
}
.header-main .header-middle button{
    width: 100%;
}
.header-main .header-middle input[type=search]::-webkit-input-placeholder{
    color: #eee;
}
.header-main .header-middle input[type=search]::-moz-placeholder{
    color: #fff;
}
.header-main .toolbar-link{
    text-align: center;
    margin: auto;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

/* Pager */
.page-changer{
    font-size: 20px;
    padding: 10px;
    text-align: right;
    line-height: 20px;
}
.page-changer a{
    color: #999;
}
.page-changer a:hover,
.page-changer a:focus{
    text-decoration: none;
    color: #666;
}
.page-changer a:active{
    text-decoration: none;
    color: #333;
}
.paging-current{
    color: #999;
}

/* Link list */
.link-outer{
    background: #fff;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    margin: 15px 0 15px 0;
    overflow: hidden;
    border-radius: 2px;
}
.link-inner{
    border-radius: 2px 0 0 2px;
}
.link-header{
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.link-content{
    overflow: hidden;
}
.link-footer{
    padding: 15px;
    border-top: 1px solid #eee;
    background-color: #f2f2f2;
}
a.link-title{
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
a.link-title:hover{
    color: #999;
}
.private a.link-title{
    color: #B71C1C;
}
.private a.link-title:before{
    content: url(../images/links/key_small.png);
    margin-right: 10px;
}
.private .link-inner{
    border-left: 4px solid #B71C1C;
}
.link-date{
    font-size: 80%;
}
.link-date{
    float: right;
}
.link-date a,
.link-date .link-archive{
    color: #bbb;
}
.link-description{
    padding: 15px;
}
.thumb img{
    float: left;
    margin: 15px;
}
.link-tag-list{
    overflow: hidden;
    overflow-x: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.link-tag{
    display: inline-block;
}
.link-tag a{
    display: block;
    color: #888;
    text-decoration: none;
    padding: 3px 10px;
    background-color: #ddd;
    border-radius: 20px;
    border: 1px solid #ccc;
}
.link-tag a:hover{
    background-color: #ccc;
}

.link-tag-filter{
    color: #888;
    text-decoration: none;
    background-color: #ddd;
    border-radius: 20px;
    display: inline-block;
    border: 1px solid #ccc;
}
.link-tag-filter a{
    color: #888;
    text-decoration: none;
    padding: 3px 0 3px 10px;
    display: inline-block;
}
.link-tag-link{
    padding: 3px 10px;
}
.link-tag-filter:hover{
    background-color: #ccc;
}
.link-tag-filter .remove{
    font-style: normal;
    background-color: #fff;
    border-radius: 50%;
    padding: 0 5px;
    padding-bottom: 1px;
}
.link-url-container{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 24px;
    text-align: right;
}
a.link-url{
    color: #999;
    text-decoration: none;
    font-size: 80%;
}
a.link-url:hover{
    color: #333;
}
.link-actions{
    height: 24px;
    text-align: right;
}
.link-actions > *{
    display: block;
    float: right;
    width: 24px;
    right: 24px;
    margin-left: 5px;
}
.link-actions form > *{
    display: block;
}

.link-counter{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #999;
}

/* Footer */
#footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    color: #999;
    font-size: 90%;
}
.from-bookmarklet #footer{
    margin-top: 10px;
}

/* Page Login */
.page-login{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-add{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-edit{
    margin-top: 50px;
    margin-bottom: 50px;
}
.from-bookmarklet .page-edit{
    margin-top: 10px;
    margin-bottom: 10px;
}
.page-tools{
    margin-bottom: 50px;
}

/* Picture wall */
.picwall-pictureframe{
    float: left;
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 90px;
    text-align: center;
}
.picwall-link{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #666;
    background-color: rgba(100, 100, 100, .7);
    color: #fff;
    font-size: 80%;
}
.picwall-pictureframe:hover .picwall-link{
    display: block;
    text-decoration: none;
}
.picwall-link:hover{
    color: #fff;
}

/* Daily */
div.daily {
    font-family: Georgia, 'DejaVu Serif', Norasi, serif;
    background-color: #E6D6BE;
    /* Background paper texture by BashCorpo:
       http://www.bashcorpo.dk/textures.php
       http://bashcorpo.deviantart.com/art/Grungy-paper-texture-v-5-22966998  */
    background-image: url("../images/Paper_texture_v5_by_bashcorpo_w1000.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    border-bottom: 2px solid black;
    margin-top: -15px;
}

#daily_col1 {
    float: left;
    position: relative;
    width: 33%;
    padding-left: 1%;
}

#daily_col2 {
    float: left;
    position: relative;
    width: 33%;
}

#daily_col3 {
    float: left;
    position: relative;
    width: 33%;
}

div.dailyAbout {
    float: left;
    border: 1px solid black;
    font-size: 8pt;
    position: absolute;
    left: 10px;
    top: 15px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

div.dailyAbout a {
    color: #890500;
}

div.dailyAbout img {
    position: relative;
    top: 3px;
    margin-right: 4px;
    width: 14px;
    height: 14px;
}

div.dailyTitle {
    font-weight: bold;
    font-size: 44pt;
    text-align: center;
    padding: 10px 20px 0px 20px;
}

div.dailyDate {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    padding: 0px 20px 30px 20px;
}

/* Individual entries in "Daily": */
div.dailyEntry {
    margin: 5px 10px 2px 5px;
    font-size: 11pt;
    border-top: 1px solid #555;
}

div.dailyEntry a {
    text-decoration: none;
    color: #890500;
}

div.dailyEntryTags {
    font-size: 7.75pt;
}

div.dailyEntryTitle {
    font-size: 18pt;
    font-weight: bold;
}

div.dailyEntryLinkdate {
    font-size: 8pt;
}

div.dailyEntryThumbnail {
    width: 100%;
    text-align: center;
    background-color: rgb(128, 128, 128);
    background: url(../images/50pc_transparent.png);
    padding: 4px 0px 2px 0px;
}

div.dailyEntryDescription {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: justify;
    overflow: auto;
}

div.dailyNoEntry {
    text-align: center;
    padding: 40px 0px 90px 0px;
}

.daily #closing {
    clear: both;
    text-align: center;
    padding-bottom: 20px;
}

/* Plugins */
.plugin-actions{
    font-size: 20px;
    padding: 10px;
    line-height: 20px;
}

/* Search overlay */
.fullscreen{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
    z-index: 200;
}
.fullscreen.visible{
    display: block;
}
.content-fullscreen{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}
input.input-fullscreen{
    font-size: 150%;
    font-weight: 200;
    border: none;
    background: #fff;
    padding: 10px;
    margin: 0;
}
input.input-fullscreen:focus{
    border-bottom: none;
    margin: 0;
}
.button-fullscreen{
    display: block;
    width: 100%;
}

/* ANIMATIONS */
.animate-fade-in{
    animation: fade-in .25s ease;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.animate-fade-out{
    animation: fade-out .25s ease;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.animate-from-top{
    animation: from-top .25s ease;
}
@keyframes from-top {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}