

/* Image zoom */
.overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500
}
#image-popup{
    display: none;
    z-index: 600;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -140px;
}


.add-link{
    position: fixed;
    display: block;
    bottom: 30px;
    right: 30px;
    background-color: #db4437;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
    z-index: 100;
}
.add-link:hover{
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
.add-link:active{
    box-shadow: none;
}
.add-link .add-link-icon{
    width: 24px;
    height: 24px;
    margin-top: 16px;
    margin-left: 16px;
    background: url(../images/toolbar/add.png) no-repeat center center;
    background-size: 24px;
}

.header-main{
    width: 100%;
    min-height: 56px;
    background-color: #2196F3;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    margin-bottom: 15px;

    color: #fff;
}
.header-main a{
    color: #fff;
    text-decoration: none;
}
.header-main > div > div{
    display: block;
    line-height: 56px;
    height: 56px;
}
.header-main a.header-brand{
    font-weight: 200;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.header-main .header-nav{
    height: 56px;
}
.header-main .header-buttons{
    float: right;
    height: 56px;
}
.header-main .header-buttons button{
    display: block;
}
.header-main .header-buttons > *{
    display: block;
    float: right;
}
.toolbar-button-container{
    position: relative;
}
.header-main .header-middle a:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
.header-main .header-middle input[type=search]{
    height: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 12px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 2px;
    color: #fff;
}
.header-main .header-middle button{
    width: 100%;
}
.header-main .header-middle input[type=search]::-webkit-input-placeholder{
    color: #eee;
}
.header-main .header-middle input[type=search]::-moz-placeholder{
    color: #fff;
}
.header-main .toolbar-link{
    text-align: center;
    margin: auto;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

/* Pager */
.page-changer{
    font-size: 20px;
    padding: 10px;
    text-align: right;
    line-height: 20px;
}
.page-changer a{
    color: #999;
}
.page-changer a:hover,
.page-changer a:focus{
    text-decoration: none;
    color: #666;
}
.page-changer a:active{
    text-decoration: none;
    color: #333;
}
.paging-current{
    color: #999;
}

/* Link list */
.link-outer{
    background: #fff;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    margin: 15px 0 15px 0;
    overflow: hidden;
}
.link-outer.private{
}
.link-outer .link-inner{
    
}
.link-outer.private .link-inner{
    border: 1px solid black;
    -webkit-border-image: url(../images/links/private.png) 25% repeat;
    -moz-border-image: url(../images/links/private.png) 25% repeat;
    border-image: url(../images/links/private.png) 25% repeat;
    border-width: 5px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}
.link-header{
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.link-content{
    overflow: hidden;
}
.link-footer{
    padding: 15px;
    border-top: 1px solid #eee;
    background-color: #f2f2f2;
}
a.link-title{
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
a.link-title:hover{
    color: #999;
}
.link-date{
    font-size: 80%;
}
.link-date{
    float: right;
}
.link-date a,
.link-date .link-archive{
    color: #bbb;
}
.link-description{
    padding: 15px;
}
.thumb{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.link-tag-list{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.link-tag{
    display: inline-block;
}
.link-tag a{
    display: block;
    color: #888;
    text-decoration: none;
    padding: 3px 10px;
    background-color: #ddd;
    border-radius: 20px;
    border: 1px solid #ccc;
}
.link-tag a:hover{
    background-color: #ccc;
}

.link-tag-filter{
    color: #888;
    text-decoration: none;
    background-color: #ddd;
    border-radius: 20px;
    display: inline-block;
    border: 1px solid #ccc;
}
.link-tag-filter a{
    color: #888;
    text-decoration: none;
    padding: 3px 0 3px 10px;
    display: inline-block;
}
.link-tag-link{
    padding: 3px 10px;
}
.link-tag-filter:hover{
    background-color: #ccc;
}
.link-tag-filter .remove{
    font-style: normal;
    background-color: #fff;
    border-radius: 50%;
    padding: 0 5px;
    padding-bottom: 1px;
}
.link-url-container{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 24px;
    text-align: right;
}
a.link-url{
    color: #999;
    text-decoration: none;
    font-size: 80%;
}
a.link-url:hover{
    color: #333;
}
.link-actions{
    height: 24px;
    text-align: right;
}
.link-actions > *{
    display: block;
    float: right;
    width: 24px;
    right: 24px;
    margin-left: 5px;
}
.link-actions form > *{
    display: block;
}

.link-counter{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #999;
}

/* Footer */
#footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #999;
    font-size: 90%;
}

/* Page Login */
.page-login{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-add{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-edit{
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-tools{
    margin-bottom: 50px;
}